@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800");
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial;
}

a {
    text-decoration: none;
}

#hebergements a:visited,
#populaires a:visited,
#activites a:visited {
    color: black;
}


ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#headerBox {
    display: flex;
    justify-content: space-between;
    
}

#logo {
    margin: 1em;
    padding: 1em;
    order: -1;
}

#inscription {
    margin-left: 2em;
    margin-right: 2em;
    color: #0267ff;
    font-weight: 600;
    font-size: large;
    display: flex;
    margin-top: 34px;
}

#MenuBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#barreRecherche {
    display: flex;
    justify-content: space-between;
    border: 1px #f2f2f2 solid;
    border-radius: 1em;
    width: 300px;
}

#barreRecherche i {
    padding: 1em;
    font-size: large;
}

#recherche {
    padding-left: 2em;
    font-weight: 600;
}

#rechercher1 {
    display: none;
}

#rechercher2 {
    display: flex;
    color: white;
    background-color: #0267ff;
    border-radius: 0 0.8em 0.8em 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align-items: center;
    font-weight: bold;
}


input,
input:focus,
input:hover {
    border: none;
    outline-width: 0;
}

.fa-map-marker-alt {
    color: black;
    background-color: #f2f2f2;
    border-radius: 0.8em 0 0 0.8em;
}


.filtres {
    display: inline-block;
    justify-content: space-between;
    /* padding: 1em; */
    border: 2px #e2e2e2 solid;
    border-radius: 3em;
    margin: 0.6em;
}

#filtre {
    display: flex;
}

#filtre h2 {
    margin-right: 1em;
}

#economique,
#familial,
#romantique,
#animaux {
    display: none;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: #0267ff;
    padding: 1.2em;
    background-color: #deebff;
    border-radius: 100%;
    width: 17px;
    text-align: center;
    margin-left: -1px;
}

#economique:checked + label > i,
#familial:checked + label > i,
#romantique:checked + label > i,
#animaux:checked + label > i {
    color: blue;
}

.filtres:hover {
    background-color: #0267ff;
}

.filtreText {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 600;
}

#info {
    display: flex;
    align-items: center;
}

#info p {
    margin-left: 0.6em;
}

.fa-info {
    color: #0267ff;
    font-size: x-small;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border: 1px #d3d3d3 solid;
    border-radius: 100%;
}

#hebergementsHeader,
#activitesHeader {
    padding: 1em;
    text-align: right;
    font-weight: 600;
}

#hebergementsHeader {
    color: #0267ff;
    border-top: 3px #0267ff solid;
}

#activitesHeader {
    color: black;
    font-weight: 400;
    margin-top: 3px;
    padding-left: 30px;
}

#activitesHeader:hover {
    color: #0267ff;
    border-top: 3px #0267ff solid;
    margin-top: 0px;
}

#slogan {
    font-weight: bold;
}

#partie1 {
    margin: 2em;
}

#ordre {
    display: flex;
    flex-wrap: wrap;
}

#populaires,
#hebergements,
#activites {
    padding: 2em;
}

.populaire {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: white;
    padding: 0.4em;
    border-radius: 2.35em;
    box-shadow: 0 0 0.7em #00000040;
    height: 160px;
    width: 350px;
}

#populaires > a {
    display: inline-block;
    margin: 1em;
    align-items: center;
}

.hebergement {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.4em;
    border-radius: 1.6em;
    margin-bottom: 1em;
    box-shadow: 0 0 0.7em #00000040;
    height: 200px;
    width: 250px;
}

#hebergements > a {
    display: inline-block;
    margin: 1em;
    align-items: center;
}

.activite {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.4em;
    border-radius: 1.6em;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 0.7em #00000040;
    height: 160px;
    width: 350px;
}

#iconPopulaire {
    float: right;
}
.imgPopulaire {
    width: 40%;
    border-radius: 2em 0 0 2em;
    object-fit: cover;
}

.imgHebergement {
    height: 60%;
    border-radius: 1.35em 1.35em 0 0;
    object-fit: cover;
}

.imgActivite {
    height: 72%;
    border-radius: 1.35em 1.35em 0 0;
    object-fit: cover;
}

.description {
    width: 40%;
    margin-left: 1em;
}

.description2 {
    height: 40%;
    line-height: 0.3em;
    padding-top: 0;
    margin-left: 0.7em;
}

#activites h4 {
    height: 40%;
    line-height: 0.3em;
    padding-top: 0.8em;
    margin-left: 0.8em;
}

.description2 h4 {
    margin-top: 1em;
}

.Blue {
    font-size: small;
    color: #0267ff;
    letter-spacing: 0;
}

.NotBlue {
    font-size: small;
    color: #c0c0c0;
    letter-spacing: 0.05em;
}

li {
    line-height: 2em;
}

.lienFooter {
    text-decoration: none;
    color: black;
}

footer {
    padding: 2em;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding-right: 350px;
}

#inscription {
    order: 0;
}

#MenuBox {
    width: 100%;
    height: 85px;
}

#hebergements {
    width: 60%;
}

#populaires {
    width: 25%;
}

#activites {
    width: 100%;
}



#populaires {
    background-color: #f2f2f2;
    border-radius: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

#hebergements {
    background-color: #f2f2f2;
    border-radius: 1.2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}



