@font-face {
    font-family: "Raleway";
    src: url("Font/Raleway-Font.ttf");
  }

body 
{
    font-family: "Raleway", Arial;
}

.inscription
{
    color: #0267ff;
}

@media screen and (max-width: 600px)
{
    
}